.background    { background-image: url(https://i.imgur.com/cXzVVwP.png);
                 table-layout: fixed;
                 border-spacing: 0;   }
.background td { padding: 0;          }
.lava          { background: rgb(61, 52, 44); }
.wall          { background: rgb(56, 58, 51); }
.floater       { background-image: url(https://i.imgur.com/q1sQ7pw.png); }


.actor  { position: absolute;  }
.player { background: white; }
.coin { background-image: url(https://i.imgur.com/JBoeTqm.png); }

.batpower { background-image: url(https://i.imgur.com/E45YhWI.png); }

.dead   { background: rgb(114, 61, 61); }

.game {
  overflow: hidden;
  max-width: 600px;
  max-height: 450px;
  position: relative;
}
